Baker House/
Bed & Bath Furniture Pack/
BigFurniturePack/
Butterfly (Animated)/
Cartoon PalmTree and Umbrella/
Environment/
Five Seamless Tileable Ground Textures/
NaturePackLite/
RainMaker/
Sounds/
Suriyun/
Sounds/*.mp3
Turntable_platforms/

*.mp3
*.meta